{% extends 'registration/base.html' %}

{% block title %}
    وبلاگ جنگویی
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-12">
            {% if object_list %}
                <div class="card">

                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                            <tr>
                                <th>عنوان</th>
                                <th>اسلگ</th>
                                <th>تصویر</th>
                                <th>دسته بندی</th>
                                <th>نویسنده</th>
                                <th>توضیحات</th>
                                <th>تاریخ</th>
                                <th>کاربر ویژه</th>
                                <th>وضعیت</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                {% for article in object_list %}
                                    <td>{% if article.status in 'bd'|make_list or user.is_superuser %}
                                        <a href="{% url 'account:article-update' article.pk %}">{{ article.title }} </a>
                                    {% else %}
                                        {{ article.title }}
                                    {% endif %}
                                    </td>
                                    <td>{{ article.slug }}</td>
                                    <td><img src="{{ article.thumbnail.url }}" width="100"></td>
                                    <td>{{ article.category_to_str }}</td>
                                    <td>{{ article.author }}</td>
                                    <td>{{ article.description|striptags|safe|truncatewords:"5" }}</td>
                                    <td>{{ article.jpublish }}</td>
                                    <td>
                                        {% if article.is_special %}
                                            <i class="fa fa-check-circle" style="color: green"> </i>
                                        {% else %}
                                            <i class="fa fa-minus-circle" style="color: red"> </i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if article.status == 'p' %}
                                            <span class="badge badge-success">منتشر شده</span>
                                            <a href="{% url 'post:detail' article.slug %}" target=" _blank" class="badge
                                        badge-primary"
                                            >
                                                نمایش مقاله در سایت
                                            </a>
                                        {% elif article.status == 'i' %}
                                            <span class="badge badge-info">در حال بررسی</span>
                                            {% if user.is_superuser %}
                                                <a href="{% url 'post:preview' article.pk %}" target=" _blank"
                                                   class="badge badge-secondary">
                                                    پیش نمایش
                                                </a>
                                            {% endif %}
                                        {% else %}
                                            {% if article.status == 'd' %}

                                                <span class="badge badge-danger">
                                    پیش نویس
                                    </span>
                                            {% else %}
                                                <span class="badge badge-warning">
                                                برگشت داده شده
                                    </span>

                                            {% endif %}
                                            <a href="{% url 'post:preview' article.pk %}" target=" _blank"
                                               class="badge badge-secondary">
                                                پیش نمایش
                                            </a>
                                        {% endif %}
                                        {% if user.is_superuser %}
                                            <a href="{% url 'account:article-delete' article.pk %}"
                                               class="badge badge-danger">
                                                حذف
                                            </a>
                                        {% endif %}
                                    </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            {% else %}
                <h1> محتوایی برای نمایش وجود ندارد!</h1>
            {% endif %}
        </div>
    </div>
{% endblock %}
