{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V16</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'registration/login/images/icons/favicon.ico' %}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'registration/login/vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'registration/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'registration/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'registration/login/vendor/animate/animate.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'registration/login/vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'registration/login/vendor/animsition/css/animsition.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'registration/login/vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'registration/login/vendor/daterangepicker/daterangepicker.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'registration/login/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'registration/login/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'registration/login/css/rtl.css' %}">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    {% if form.non_field_errors %}
        <div class="errors">
            {% for error in form.non_field_errors %}
                <span>
                                    {{ error }}
                                </span>
            {% endfor %}
        </div>
    {% endif %}
    <div class="container-login100" style="background-image: url('{% static 'registration/login/images/bg-01.jpg' %}')">
        <div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-41 myfont">
					ثبت نام
				</span>
            <form class="login100-form validate-form p-b-25 p-t-20" method='post'>{% csrf_token %}

                <div class="wrap-input100 validate-input" data-validate="Enter username">
                    نام کاربری{{ form.username|add_class:"input100" }}
                    {% if form.username.errors %}
                        <div class="errors">
                            {% for error in form.username.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Enter username">
                    ایمیل{{ form.email|add_class:"input100" }}
                    {% if form.email.errors %}
                        <div class="errors">
                            {% for error in form.email.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    گذر واژه{{ form.password1|add_class:"input100" }}
                    {% if form.password.errors %}
                        <div class="errors">
                            {% for error in form.password.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}

                        </div>
                    {% endif %}
                    <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    تایید گذر واژه{{ form.password2|add_class:"input100" }}
                    {% if form.password.errors %}
                        <div class="errors">
                            {% for error in form.password.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                </div>


                حسابی دارید ?<a href="{% url "login" %}"> ❗وارد شوید </a>


                <div class="container-login100-form-btn m-t-32">
                    <button class="login100-form-btn">
                        ثبت نام
                    </button>
                </div>
                <div>
                    <h3>
                        <div class="container-login100-form-btn m-t-32">
                            <button class="login100-form-btn">
                                <a href="{% url 'social:begin' 'google-oauth2' %}" style="color: white">ثبت نام با
                                    گوگل</a>
                            </button>
                        </div>

                    </h3>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="{% static 'registration/login/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'registration/login/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'registration/login/vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'registration/login/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'registration/login/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'registration/login/vendor/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'registration/login/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'registration/login/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'registration/login/js/main.js' %}"></script>

</body>
</html>