{% load static %}
{% load gravatar %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">

        <span class="brand-text font-weight-light"
              style="font-size: medium;color: #00efb2"> پنل مدیریت وبسایت جنگویی</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% gravatar_url user.email 150 %}" class="img-circle elevation-2" alt="{{ user.email }}">
            </div>
            <div class="info">
                <a href="{% url 'account:profile' %}" class="d-block">{{ user.username }}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                {% if user.is_superuser or user.is_author %}
                    <li class="nav-item has-treeview menu-open">
                        <a href="#" class="nav-link active">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                مقالات
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview ">
                            <li class="nav-item">
                                <a href="{% url 'account:home' %}"
                                   class="nav-link {% if request.resolver_match.url_name == 'home' %}active
                            {% endif %} ">
                                    <i class="fa fa-list nav-icon"></i>
                                    <p>لیست مقالات</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'account:article-create' %}" class="nav-link
                               {% if request.resolver_match.url_name == 'article-create' %}active
                            {% endif %} ">
                                    <i class="fa fa-edit nav-icon"></i>
                                    <p>افزودن مقاله</p>
                                </a>
                        </ul>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a href="{% url 'account:profile' %}" class="nav-link
                                {% if request.resolver_match.url_name == 'profile' %}active
                            {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            پروفایل
{#                                                        <span class="right badge badge-danger">جدید</span>#}
                        </p>
                    </a>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
