{% extends 'one/base.html' %}
{% load static %}
{% load base_tags %}
{% load humanize %}
{% load ratings %}


{% block main %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{% static '/two/img/b.jpg' %}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1> وبلاگ جنگویی </h1>
                        <span class="badge badge-dark" style="border-radius: 12px; font-size: 13px;"></span>
                        <div style="font-size: 90px;">☯</div>

                        <!-- The form -->
                        <form class="example" action="{% url 'post:search' %}">
                            <input type="text" placeholder="Search ..." name=q>
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>


                </div>
            </div>

        </div>
    </header>
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% popular_articles %}


                {% for article in object_list %}
                    <div class="post-preview">
                        <a href="{% url 'post:detail' article.slug %}">
                            <h2 class="post-title">
                                {{ article.title }}
                                {% if article.is_special %}
                                    <span class="badge badge-danger" style="font-size: 12px">ویژه</span>
                                {% endif %}

                            </h2>

                            <div>{% ratings article %}</div>

                            <h3 class="post-subtitle">
                                {{ article.description |striptags| truncatewords:8|safe }}
                            </h3>
                        </a>
                        <p class="post-meta"> نوشته شده توسط :
                            <a href="{% url 'post:author' article.author %}">{{ article.author.username }}</a>
                        </p>
                        <div>
                            {% for cat in article.category.active %}
                                <a href="{% url 'post:category' cat.slug %}">#{{ cat.title }}</a>
                            {% endfor %}
                        </div>
                        <div><span class="badge badge-info"
                                   style="border-radius: 10px;"> بازدیدها: {{ article.hits.count }}</span></div>
                    </div>
                    <p style="color: gray;font-size: smaller">     {{ article.jpublish|naturaltime }}</p>
                    <hr>
                {% endfor %}

                <!-- Pager -->
                {% if is_paginated %}
                    <div class="clearfix pager-botton">
                    {% if page_obj.has_previous %}
                        <a class="btn btn-primary float-right ml-5"
                           href="{% url "post:home" page_obj.previous_page_number %}">پست های جدید &rarr;</a>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <a class="btn btn-primary float-right"
                           href="{% url "post:home" page_obj.next_page_number %}">پست های قدیمی &larr;</a>
                    {% endif %}

                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}